#root,
body,
html {
  /* border: 1px solid red; */
  height: 100%;
}

.App {
  /* border: solid blue 4px; */
  padding: 3rem;
  padding-top: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #48ade0; */
}

.App header {
  border: 1px green dashed;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  padding: 2rem;
  background-color: #13678A;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.modal-90w {
  max-width: 90% !important;
}

.App header input {
  border-radius: 8px;
  padding-left: 1rem;
}

.QuackIcon {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: white;
}

.DuckImg {
  /* border: 1px solid blue; */
  width: 3rem;
}

.QuackName {
  font-family: 'Sigmar', cursive;
  font-size: 2rem;
}

.HomeLoggedOut {
  /* border: 1px solid red; */
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Welcome {
  padding: 0 5rem 0 5rem;
  margin: 0;
}

.AboutContainer {
  /* border: 1px solid red; */
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .AboutContainer {
    flex-direction: column;
  }

  /* .Welcome {
    padding-top: 200px;
  } */
}

@media screen and (max-width: 800px) {
  .AboutContainer img {
    display: none;
  }

  /* .Welcome {
    padding-top: 0px;
  } */
}

/* @media screen and (max-width: 1050px) {
  .Welcome {
    margin-top: 200px;
  }
} */

/* @media screen and (min-width: 1300px) {
  .App {
    padding: 8rem 15% 3rem 15%;
  }
} */

.About {
  /* border: 1px dashed blue; */
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 1;
}

.About p {
  /* border: 1px solid green; */
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.ModalBtn {
  width: 12rem;
}

.AboutContainer img {
  /* object-fit:contain; */
  width: 350px;
  height: fit-content;
  border-radius: 50px;
  border: 1px solid;
  margin: 3rem;
  padding: 4px;
  box-shadow: 15px 20px #888888;
  align-self: center;
  justify-self: center;
  flex-basis: 1;
}

.HomeLoggedIn {
  /* border: 1px solid red; */
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.BtnsContainer {
  /* border: 1px solid blue; */
  margin: 1rem;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-items: center; */
}

.BtnRow {
  /* border: 1px solid red; */
  width: 100%;
  height: 50%;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HomeBtn {
  width: 49%;
  height: 99%;
  border: 0px solid red;
  border-radius: 10px;
  background-color: #13678A;
  transition: background-color 0.2s ease-out;
  color: white;
  font-family: 'Sigmar', cursive;
  font-size: 2.5rem;
}

.HomeBtn:hover {
  background-color: grey;
}

/* .PetListContainer {
  border: 1px solid red;
  margin-top: 2rem;
  width: 100%;
} */

.PetList {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: space-between;
}

.PetCard {
  /* border: 1px solid blue; */
  box-shadow: 2px 2px 10px 1px #888888;
  padding: 10px;
  /* margin-bottom: .5rem;
  margin-top: .5rem;
  margin-right: .25rem; */
  margin: 1rem .25rem 1rem .25rem;
  width: 20%;
  min-width: 150px;
  height: 10%;
  min-height: 150px;
}

.SearchBar {
  border-radius: 10px;
  position: relative;
  width: 50%;
  left: 25%;
  height: 3rem;
  font-size: larger;
  padding: 1rem;
}

.PetImg {
  width: 100%;
}

.SmileContainer {
  /* border: 1px solid red; */
  margin: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchPageContainer {
  border: 1px solid red;
  padding-top: 3rem;
  width: 80%;
}